@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

html {
    touch-action: manipulation;
  }

body {
    font-family: "Geist Mono";
    background-color: #1c1e20;
    color: white;
}

button {
    color: white;
}

a {
    color: white;
    text-decoration: none;
    opacity: 0.25;
}

input[type="checkbox"] {
    border-radius: 2.5px;
    appearance: none;
    cursor: pointer;
}

  input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid white;
    vertical-align: -5px;
  }
  
  input[type="checkbox"]:checked{
    background-color: white;
    transition: 0.25s;
  }

  input[type="checkbox"]:not(:checked) {
    background-color: transparent;
    transition: 0.25s;
  }

  input[type="checkbox"]:checked:before {
    position: absolute;
    top: 1px;
    left: 4px;
    transform: rotate(50deg);
    width: 4px;
    height: 8px;
    border-right: 2px solid #1c1e20;
    border-bottom: 2px solid #1c1e20;
    content: '';
  }

.center {
    z-index: 3;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.game {
    visibility: hidden;
}

.wasd_buttons {
    visibility: visible;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.wasd_buttons button {
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 0;
    border: 2px solid white;
    background-color: transparent;
    cursor: pointer;
    font-family: "Geist Mono";
    transition: 0.25s;
}

.ui_settings {
    text-align: center;
}

.wasd_buttons button:hover {
    background-color: white;
    color: #1c1e20;
    transition: 0.25s; 
}

.asd_key {
    position: relative;
    top: -5px;
}

#title button {
    border: 0;
    background-color: transparent;
    font-size: 25px;
    font-weight: 500;
    font-family: "Geist Mono";
}

#title button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#streak {
    font-size: 17.5px;
    font-weight: 300;
}

#warning {
    font-size: 12.5px;
    opacity: 0.5;
}

#bold {
    font-weight: bold;
}
